#main{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);

}
.header{
  width: 60vw;
  height: 10vh;
}
.header-main{
  width: 100%;
  height: 30px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.header-sub{
  width: 100%;
  height: 20px;
  margin: 0;
  margin-bottom: 2rem;
}
#card{
  width: 60vw;
  height: 80vh;
  background-color: #fff;
}
#image-wrapper{
  width: 100%;
  height: 60%;
}
#image{
  width: 100%;
  height: 100%;
}
.description-heading-wrapper{
  width: 100%;
  height: 40px;

}
#description-heading{
  width: 100%;
  height: 40px;
  display: inline-block;
}
.description-wrapper{
  width: 100%;
  height: 40px;

}
#description{
  width: 100%;
  height: 40px;
  display: inline-block;
}
.spinner-grow{
  width: 200px;
  height: 200px;
}

#overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.centered-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}

#bigger-width{
  width: 100px;
  height: 100px;
  color: #49b265;
}
