<div id="main">
  <div class="header">
    <h1 class="header-main">Spacestagram</h1>
    <p class="header-sub">Brought to you by Nasa's API, breathtaking nature photos.</p>
  </div>
  <div id="card">
    <div id="image-wrapper">
      <img id="image" [src]='data.hdurl' alt="Nasa">
    </div>
    <div class="footer">
      <div class="description-heading-wrapper"><h3 id="description-heading">{{data.title}} {{data.date}}</h3></div>
      <div class="description-wrapper"><p id="description">{{data.explanation}}</p></div>
      <button type="button" id="like-button" (click)="likePhoto()" [ngClass]="clicked ? 'selected' : ''">
        <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/></svg>
          {{clicked ? 'Liked' : 'Like'}}
        </button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <div class="d-flex justify-content-center centered-item">
    <div class="spinner-border" id="bigger-width" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div id="overlay"></div>
</div>


